@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-bgcolor: #fff;
    --text-color: black;
    --secondary-bgcolor: #DAC0A3;
    --filter: invert(0%) sepia(100%) saturate(7460%) hue-rotate(179deg) brightness(107%) contrast(109%); /* black */
    --filter-hover: invert(89%) sepia(3%) saturate(3989%) hue-rotate(338deg) brightness(99%) contrast(72%); /* brown */
    --filter-hover-footer: invert(100%) sepia(0%) saturate(7500%) hue-rotate(254deg) brightness(98%) contrast(105%); /* white */
}

.dark-mode {
    --primary-bgcolor: black;
    --text-color: #fff;
    --secondary-bgcolor: #662549;
    --filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(254deg) brightness(98%) contrast(105%); /* white */
    --filter-hover: invert(18%) sepia(46%) saturate(1133%) hue-rotate(279deg) brightness(91%) contrast(93%); /* purple */
    --filter-hover-footer: invert(0%) sepia(100%) saturate(7460%) hue-rotate(179deg) brightness(107%) contrast(109%); /* black */
}

nav, #home {
    color: var(--text-color);
}

body {
    background-color: var(--primary-bgcolor);
    color: var(--text-color);
}

nav {
    width: 100%;
    height: 60px;
    background-color: var(--primary-bgcolor);
    font-size: 13px;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

nav .left .logo a {
    color: var(--text-color);
    text-decoration: none;
    font-family: 'Libre Bodoni', serif;
    font-size: 15px;
}

nav .left .logo {
    margin-right: 20px;
}

nav .ul {
    display: inline-block;
}

nav .left {
    margin-left: 50px;
    line-height: 60px;
}

nav .left ul li {
    display: inline-block;
}

nav .left ul li a {
    color: var(--text-color);
    text-decoration: none;
}

nav ul li a:hover, .active {
    border-bottom: 1px solid var(--secondary-bgcolor);
}

nav .center {
    display: none;
}

nav .right {
    float: right;
    margin-right: 50px;
    line-height: 60px;
}

nav .right .btn-login {
    background-color: var(--secondary-bgcolor);
    padding: 5px 25px;
    border-radius: 50px;
    border: 0;
    margin-right: 10px;
    color: var(--text-color);
}

nav ul li .list-login {
    display: none;
}

.checkbtn {
    font-size: 20px;
    color: var(--text-color);
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* #dark {
    display: none;
} */

/* #light, #dark { */
#light {
    background-color: transparent;
    border: 0;
}

/* #light:hover, #dark:hover, #cart:hover { */
#light:hover, #cart:hover {
    cursor: pointer;
    filter: var(--filter-hover);
}

/* #light, #dark, #cart { */
#light, #cart {
    filter: var(--filter);
}

/* .filter-white {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(254deg) brightness(98%) contrast(105%);
} */

#home {
    width: 100%;
    display: grid;
    align-items: center;
    height: 100vh;
}

#home .container {
    display: flex;
    justify-content: center;
}

#home .container .row {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#home p, em {
    color: var(--text-color);
    font-size: 80px;
    font-family: 'Libre Bodoni', serif;
    margin-bottom: 20px;
}

#home .container .row a {
    text-align: center;
    margin: 0;
    color: var(--text-color);
}


/* ABOUT */

#about {
    display: grid;
    align-items: center;
    height: 100vh;
}

#about .container .row {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

#about .container {
    padding: 30px;
}

#about .container .title {
    text-align: center;
    font-size: 40px;
    font-family: 'Libre Bodoni', serif;
    margin-bottom: 3rem;
}

#about .container .row .col img {
    width: 28rem;
    /* border-radius: 50% 50% 0 0; */
    box-shadow: 0 -1px 10px var(--text-color);
}

#about .container .row .content {
    align-self: center;
    width: 50%;
}

/* CONTACT */

#contact {
    display: grid;
    align-items: center;
    height: 100vh;
    /* text-align: center; */
}

#contact .container {
    /* padding: 100px; */
    margin: auto;
}

#contact .container .title {
    text-align: center;
    font-size: 40px;
    font-family: 'Libre Bodoni', serif;
    margin-bottom: 3rem;
}

#contact .container form {
    display: inline-block;
    /* background-color: aqua; */
}

#contact .container form input, #contact .container form textarea {
    width: 550px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

#contact .container form textarea {
    height: 150px;
}

#contact .container form .btn-submit {
    width: 100px;
}

.table-contact {
    margin-top: 100px;
    display: grid;
    align-items: center;
    height: 100vh;
    /* margin: 0 auto; */
}

/* FOOTER */

footer {
    background-color: var(--secondary-bgcolor);
}

footer .container {
    padding: 50px 30px 20px 30px;
}

footer .container .row1 {
    display: flex;
    justify-content: space-around;
}

footer .container .row1 .col .logo {
    font-size: 40px;
    font-family: 'Libre Bodoni', serif;
}

footer .container .row1 .col .title {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 10px;
}

footer .container .row1 .col ul li {
    list-style: none;
}

footer .container .row1 .col ul li a {
    color: var(--text-color);
    text-decoration: none;
}

footer .container .row1 .col ul li a:hover {
    color: var(--primary-bgcolor);
}

footer .container .row1 {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--text-color);
}

footer .container .row2 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer .container .row2 .col a:hover {
    /* filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(254deg) brightness(98%) contrast(105%); */
    filter: var(--filter-hover-footer);
}

footer .container .row2 .col a {
    filter: var(--filter);
}

footer .container .row2 .col p {
    font-size: 13px;
    font-weight: bold;
}




/* RESPONSIVE */
@media (max-width: 1000px) {
    #about {
        padding-top: 50px;
        height: 100%;
    }
    #about .container .row {
        flex-wrap: wrap;
        gap: 2rem;
    }
    #about .container .row .content {
        align-self: flex-start;
        width: 80%;
    }
    #about .container .row .col img {
        width: 25rem;
    }
}

@media (max-width: 800px) {
    #home p, em {
        font-size: 60px;
    }
}

@media (max-width: 700px) {
    .btn-login {
        display: none;
    }

    nav .left .logo {
        display: none;
    }

    .checkbtn {
        display: block;
        margin: 0;
        filter: var(--filter);
    }
    
    nav .left ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: var(--primary-bgcolor);
        top: 50px;
        /* left: 0; */
        left: -100%;
        text-align: center;
        transition: all .3s;
    }

    nav .left ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav .left ul li a:hover {
        border-bottom: 1px solid #DAC0A3;
    }

    nav .left ul li .list-login {
        display: inline-block;
    }

    #check:checked ~ ul {
        left: 0;
    }

    nav .center {
        display: inline;
        line-height: 60px;
    }

    nav .center .logo a {
        color: var(--text-color);
        text-decoration: none;
        font-family: 'Libre Bodoni', serif;
        font-size: 18px;
    }

    footer .container .row {
        flex-wrap: wrap;
        gap: 5rem;
    }

    nav .left {
        margin-left: 20px;
        margin-right: 20px;
    }

    nav .right {
        margin-right: 20px;
    }

    #about .container .row .col img {
        width: 20rem;
    }

    #about .container .row .content {
        align-self: flex-start;
        width: 70%;
    }

    #contact .container form input, #contact .container form textarea {
        width: 400px;
    }
}

@media (max-width: 500px) {
    #contact .container form input, #contact .container form textarea {
        width: 300px;
    }
}

@media (max-width: 400px) {
    #home p, em {
        font-size: 40px;
    }
    #about .container .row .col img {
        width: 10rem;
    }
    #about .container .row .content {
        font-size: 10px;
        width: 100%;
    }
    #about .container .row {
        flex-wrap: wrap;
        gap: 10px;
    }
    #about .container .title {
        font-size: 25px;
        margin-bottom: 1rem;
    }
    #contact .container form input, #contact .container form textarea {
        width: 250px;
    }
    #contact .container form textarea {
        height: 100px;
    }
}

@media (max-width: 300px) {
    footer .container .row1 .col .logo {
        font-size: 30px;
    }
    footer .container .row1 .col p {
        font-size: 12px;
    }
    footer .container .row1 .col .title {
        font-size: 15px;
    }
    footer .container .row1 .col ul li a {
        font-size: 10px;
    }
    footer .container .row2 .col p {
        font-size: 12px;
    }
    footer .container .row2 .col a img {
        width: 15px;
    }
    #contact .container form input, #contact .container form textarea {
        width: 200px;
    }
}